<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Blueseatopia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Map <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">About</a>
        </div>
    </div>
    <div class="header-info">
        <ul class="m-0">
            <li><a class="navbar-brand" style="padding: 9px;" href="https://github.com/aswfan/blueseatopia-map"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</nav>

